# Api configuration
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/tasks
BROKER_URL=amqp://kalo:kalo@broker:5672
DEVELOPMENT=true
API_LOG_LEVEL=INFO

LISTENER_HEALTH_CHECK_HOST=0.0.0.0
LISTENER_HEALTH_CHECK_PORT=8081
LISTENER_LOG_LEVEL=DEBUG

# Consumer configuration
LISTENER_COUNT=5
IN_QUEUE_NAME=example_queue_in
OUT_QUEUE_NAME=example_queue_out
WORKERS=2
CONSUMER_ENABLE_HEALTH_CHECK_SERVER=true
CONSUMER_HEALTH_CHECK_HOST=0.0.0.0
CONSUMER_HEALTH_CHECK_PORT=8082
CONSUMER_LOG_LEVEL=DEBUG

# S3 configuration (MinIO for local dev, Vault credentials in staging/prod)
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_ENDPOINT_URL=http://minio:9000
S3_REGION_NAME=fr-par
S3_BUCKET_NAME=brio-dev-api-data
