services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: kalo
      RABBITMQ_DEFAULT_PASS: kalo
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3

  python-worker:
    build: .
    container_name: python-worker-demo
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      BROKER_URL: "amqp://kalo:kalo@rabbitmq:5672"
      IN_QUEUE_NAME: "in_queue_python"
      OUT_QUEUE_NAME: "example_out_queue"
      WORKER_CONCURRENCY: "3"
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 30s
      timeout: 10s
      retries: 3
