name: Lint

on:
  workflow_call:
    inputs:
      PYTHON_VERSION:
        description: Python version used to run tests
        required: false
        type: string
        default: "3.13"
  workflow_dispatch:
    inputs:
      PYTHON_VERSION:
        description: Python version used to run tests
        required: false
        type: string
        default: "3.13"

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.PYTHON_VERSION || '3.13' }}

    - name: Install uv
      uses: astral-sh/setup-uv@v3

    - name: Run lint
      run: make lint
