name: CI/CD Workflow

on:
  workflow_call:
    inputs:
      PYTHON_VERSION:
        required: true
        type: string

jobs:
  run-test:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Run tests
        run: |
          make test
